# Postgres
POSTGRES_USER=recall_dev
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=recall_dev

# Backend
DATABASE_URL=postgresql+asyncpg://recall_dev:devpassword@postgres/recal_dev
JWT_SECRET_KEY=notsecretkeyreally
GEMINI_API_KEY=

MODE = PROD
